.red {
    color: red;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#cbsHunters > label {
    text-shadow: red 0 0 10px;
}

#cbsRangers > label {
    text-shadow: green 0 0 10px;
}

#cbsForces > label {
    text-shadow: blue 0 0 10px;
}